html, body {
  /* background-color: #3a3a3a; */
  background-color: #2A1E5C;
}

#game {
  width: 100%;
  height: 95vh;
  position: absolute;
}

#paddle {
  width: 80px;
  height: 20px;
  position: absolute;
  /* top: 90vh; */
  bottom: 3vh;
  left: 45vw;
  background-color: #FCFFFD;
  border-radius: 3px;
}

#ball {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: #2A1E5C;
  background-color: #FCFFFD;
}

#brick-lair {
width: 100%;
max-height: 25vh;
display: grid;
grid-template-columns: repeat(10, 1fr);
box-sizing: border-box;
column-gap: 3px;
row-gap: 3px;
}

.block {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  background-color: #FCFFFD;
  border-radius: 3px;
}
